// colors
$col-main-light: #023059;
$col-main-dark: #093d5ec5;
$bg-text-container: #173d5a;
$text-main: #ececec;
$text-dark: #252424;
$text-special-dark: #e79759;
$text-special-light: #ecbf4b;

// font
$big-text: 2rem;
$medium-text: 1.5rem;
$medium-text-mobile: 1.3rem;
$small-text: 1.1rem;

// layout
$margin-main: 3rem 1rem 2rem 1rem;
$margin-mobile: 2rem;
$radius-text-container: 10px;
