@use "../abstracts" as *;

footer {
  background-color: $bg-text-container;
  width: 100vw;

  & * {
    margin: $margin-main;

    // mobile
    @include responsive(phone) {
      margin: $margin-mobile;
    }
  }

  dl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;

    // mobile
    @include responsive(phone) {
      flex-direction: column;
      height: max-content;
    }

    & * {
      color: inherit;
      font-size: $medium-text;
      margin: 0.5rem;
      transition: transform 0.3s;

      // mobile
      @include responsive(phone) {
        font-size: $medium-text-mobile;
        margin: 0.3rem;
      }
    }

    & dd i:hover {
      @include main-link-hover;
    }
  }

  p {
    text-align: center;
  }

  .big-icon {
    font-size: $big-text;
  }
}
