@use "../abstracts/" as *;

.about-section {
  @include flex-sp-around-center;
  @include narrow-container;

  // mobile to smaller laptop screen sizes
  @include responsive(laptop) {
    @include flex-column-center;
    @include mobile-container;
  }
}

.welcome-section {
  @include standard-grid;
  gap: 8rem;
  @include narrow-container;
  width: 60%;

  // mobile to smaller laptop screen sizes
  @include responsive(laptop) {
    @include flex-column-center;
    gap: 4rem;
    @include mobile-container;
  }

  .welcome-intro {
    border-radius: $radius-text-container;
    outline: 3px solid $text-special-dark;
    outline-offset: 1rem;
  }
}

.projects-section {
  @include wide-container;

  // mobile to smaller laptop screen sizes
  @include responsive(laptop) {
    @include mobile-container;
  }

  // less margin between h2 and the 2nd child = first project-container
  & > div:not(:nth-child(2)) {
    margin-top: 10rem;
  }
}

.contact-section {
  @include wide-container;

  // mobile to smaller laptop screen sizes
  @include responsive(laptop) {
    @include mobile-container;
  }
}
