@use "../abstracts" as *;

nav {
  background-color: $bg-text-container;
  font-family: "Archivo Black", sans-serif;
  height: 10vh;
  width: 100vw;

  // tablet & mobile
  @include responsive(tablet) {
    height: fit-content;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    list-style-type: none;
    padding: 0 3rem;
    width: 100%;

    // tablet & mobile
    @include responsive(tablet) {
      @include flex-column-center;
      gap: 1rem;
      padding: 1.5rem 0;
    }
  }

  // logo to the left side of navbar
  li:first-child {
    text-align: left;
    margin-right: auto;

    // tablet & mobile
    @include responsive(tablet) {
      text-align: center;
      margin-right: 1.5rem;
    }
  }

  li a {
    display: block;
    color: inherit;
    font-size: $medium-text;
    padding: 0 1.5rem;
    text-align: center;
    transition: transform 0.3s;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      @include main-link-hover;
    }

    // tablet & mobile
    @include responsive(tablet) {
      font-size: $big-text;
    }
  }
}
