@use "../abstracts" as *;

.text-container {
  background-color: $bg-text-container;
  border-radius: $radius-text-container;
  box-shadow: 0 2rem 3.5rem rgba(#000, 0.6);
  padding: 3.5rem;
  transform: skewX(-12deg);
  width: 50%;

  // margin between paragraphs but not below the last paragraph
  & p:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.text-about {
  animation: moveInRight 2s ease-out;
  backface-visibility: hidden;
}

// mobile to smaller laptop screen sizes
@media screen and (max-width: 1380px) {
  .text-container {
    transform: skewX(0);
    width: auto;
  }

  .text-about {
    animation: moveInRightMobile 2s ease-out;
    margin-top: 5rem;
  }
}
